[GLOBAL]
sign_certificate =
encryp_certificate =
iConnectionType = 1
Description =
GatewayAddress = @@GATEWAY@@
GatewayPort = @@PORT@@
TunnelMode = 2
PreflinkEnable = 1
DefaultGateway = 0
iroutecoverEnable = 0
icertificateEnable = 0
igmalgorithmEnable = 0
PreflinkTotal = 0
