[GLOBAL]
ClientName = UniVPN
ClientVersion = 10781.13.0.0522
ClientCustomized = false
ClientLogLevel = 1

[ADVANCED]
ClientDetectLatestVersion = 0
ClientAutoBoot = 0
ClientLanguageID = 1033
ClientServerCheck = 1
ClientShowLogFlag = 0
ClientLastAccessSession =
ClientSwitchNetwork = 0
ClientTcpBufferSize = 0

[PROXY]
ProxyType = 0
ProxyAddr =
ProxyPort = 0
ProxyUser =
ProxyInfo =

[Session0]
ConnectType = 1
RemPwd = 0
AutoLogin = 0
LastLoginAddr =
ProfileName = @@PROFILE@@
ProfileUser =
ProfileInfo =
